<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Chuck secrets bank!</h1>

        <div>
            <h2><%= secret %></h2>
        </div>
    </div>
    <a href="/random"><button id="refresh-btn">New Secret</button></a>
</body>
</html>